<nav class="flex items-center text-gray-600 text-sm mb-4">
  <% if !local_assigns[:post] %>
    <%= link_to "Home", root_path, class: "hover:text-blue-600" %>
    <% if current_page?(new_post_path) %>
      <span class="mx-2">/</span>
      <span class="text-gray-800">New Article</span>
    <% elsif current_page?(bookmarks_path) %>
      <span class="mx-2">/</span>
      <span class="text-gray-800">Bookmarks</span>
    <% elsif current_page?(category_path(@category)) %>
      <span class="mx-2">/</span>
      <span class="text-gray-800"><%= @category.name %></span>
    <% end %>
  <% else %>
    <%= link_to "Home", root_path, class: "hover:text-blue-600" %>
    <% if post.category.present? %>
      <span class="mx-2">/</span>
      <%= link_to post.category.name, category_path(post.category), class: "hover:text-blue-600" %>
    <% end %>
    <span class="mx-2">/</span>
    <%= link_to post.title, post_path(post), class: "hover:text-blue-600" %>
    <% if current_page?(edit_post_path(post)) %>
      <span class="mx-2">/</span>
      <span class="text-gray-800">Edit</span>
    <% end %>
  <% end %>
</nav> 