<% content_for :title, "Showing post" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing post</h1>

  <%= render @post %>
  <% if @post.likes.exists?(user: current_user) %>
    <%= button_to "👎 Unlike", post_likes_path(@post), method: :post, class: "bg-red-500 text-white px-2 py-1 rounded" %>
  <% else %>
    <%= button_to "👍 Like", post_likes_path(@post), method: :post, class: "bg-green-500 text-white px-2 py-1 rounded" %>
  <% end %>

  <p>ไลค์: <%= @post.likes.count %></p>

<p>แชร์กระทู้:</p>
<a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" target="_blank" class="text-blue-600">Facebook</a>
<a href="https://twitter.com/intent/tweet?url=<%= request.original_url %>&text=<%= @post.title %>" target="_blank" class="text-blue-400">Twitter</a>
 
  <%= link_to "Edit this post", edit_post_path(@post), class: "mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to posts", posts_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <div class="inline-block ml-2">
    <%= button_to "Destroy this post", @post, method: :delete, class: "mt-2 rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
  </div>

  <h2>Comments</h2>

<% @post.comments.each do |comment| %>
  <div class="border p-2 my-2">
    <p><strong><%= comment.user.email %>:</strong> <%= comment.content %></p>
    <% if comment.user == current_user %>
      <%= link_to "Edit", edit_post_comment_path(@post, comment), class: "text-blue-500" %> |
      <%= link_to "Delete", post_comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "text-red-500" %>
    <% end %>
  </div>
<% end %>

  <h3>Add a comment:</h3>
  <%= form_with model: [@post, @post.comments.new], local: true do |form| %>
    <div>
      <%= form.text_area :content, class: "border w-full p-2" %>
    </div>
    <div class="inline">
      <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
</div>
